:root {
  /* color */
  --blue: #3b82f6;
  --blue-dark: #1d4ed8;
  --purple: #a855f7;
  --white: #ffffff;
  --text: #0f172a;
  --green: #22c55e;
  --red: #ef4444;
  --yellow: #facc15;
  --orange: #fb923c;
  --gradient-yellow: linear-gradient(182deg, #fff622 -8.34%, #e07411 126.67%);

  /* text */

  /* ini untuk font-size:  */
  --xs: 0.75rem; /* 12px */
  --sm: 0.875rem; /* 14px */
  --base: 1rem; /* 16px */
  --lg: 1.125rem; /* 18px */
  --xl: 1.25rem; /* 20px */
  --2xl: 1.5rem; /* 24px */
  --3xl: 1.875rem; /* 30px */
  --4xl: 2.25rem; /* 36px */
  --5xl: 3rem; /* 48px */

  /* ini untuk font-weight:  */
  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* ini untuk background-image:  */
  --page: url("path/to/your/image.jpg");
  --card: url("path/to/your/image.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* responsive */

/* Small devices (640px and up) */
@media (min-width: 640px) {
}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
}

/* Large devices (1024px and up) */
@media (min-width: 1024px) {
}

/* Extra large devices (1280px and up) */
@media (min-width: 1280px) {
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  background-image: url(../assets/textura.svg);
}

header {
  margin: 10px 10px;
}

.logo {
  margin: 10px;
  padding: 10px;
  color: var(--white);
  font-size: var(--3xl);
  font-weight: var(--bold);
  text-decoration: none;
}

.logo span {
  color: var(--yellow-500, #eab308);
}

header nav {
  float: right;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin: 0 10px;
}

.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 10px;
}

.popup-rules {
  width: auto;
  height: auto;
  font-size: var(--lg);
  padding: 0 50px;
  border-radius: 30px;
  background: var(--white);
  box-shadow: 4px 4px 28px 0px rgba(19, 25, 79, 0.25);
}

.popup-rules img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  border-radius: 50%;
}

.btn-start {
  display: block;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--base);
  font-weight: var(--bold);
  width: 300px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid var(--slate-900, #0f172a);
  background: var(--gradient-yellow);
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}


.btn-start:hover {
  transform: scale(1.05); 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--white);
  text-align: center;
}

.dino {
  margin-left: -50px;
  padding: 0;
  width: 286px;
  height: 250px;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.octopus {
  margin-left: 75%;
  margin-top: 0;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.footer p {
  color: var(--white);
  font-size: var(--xl);
  font-weight: var(--semibold);
  position: absolute;
  left: 50%; 
  bottom: 0;
  transform: translateX(-50%); 
  text-align: center; 
}

.container-2 {
  margin-top: 800px;
  width: 850px;
  background: white;
  display: flex;
  gap: 70px;
  display: flex;
  padding: 60px 40px;
  border-radius: 10px;
}

.hangman-box img {
  width: 270px;
}

.hangman-box h1 {
  font-size: 1.45rem;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.shapes-1 {
  width: 100px;
  height: 30px;
  background-color: #3b82f6;
  border-radius: 20px;
  justify-items: center;
  border: 2px solid black;
}

.shapes-1 h2 {
  position: absolute;
  width: 100px;
  height: 30px;
  color: white;
  font-size: 20px;
  margin-top: 2px;
  text-align: center;
  text-transform: uppercase;
}
.word-display {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.word-display .letter {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: lowercase;
  width: 28px;
  border-bottom: 3px solid #000;
}

.word-display .letter.guessed {
  border-color: transparent;
  margin-bottom: 20px;
}

.game-box h4{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.game-box .shapes-2 .game-answer{
  width: 165px;
  height: 30px;
  background-color: yellow;
  border-radius: 20px;
  justify-items: center;
  border: 1px solid black;
  margin-top: 50px;
}

.game-box .shapes-2 .game-answer img{
  width: fit-content;
  position: relative;
  margin-top: 4px;
}

.game-box .hint-text{
  margin-top: 20px;
  font-size: 25px;
  font: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.game-box h4 b {
  font-weight: 600;
}

.game-box .guesses-text b{
  color: red;
}

.game-input {
  position: absolute;
}

input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s;
}

input[type="text"]{
  background: #fff;
  width: 300px;
  height: 50px;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

input[type="submit"]{
  position: relative;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 100px;
  height: 50px;
  cursor: pointer;
  background: #ffc107;
}

input[type="submit"]:hover{
  background: #ff5722;
}
