@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,800;1,900&display=swap");
:root {
  /* color */
  --blue: #3b82f6;
  --blue-dark: #1d4ed8;
  --purple: #a855f7;
  --white: #ffffff;
  --text: #0f172a;
  --green: #22c55e;
  --red: #ef4444;
  --yellow: #facc15;
  --orange: #fb923c;
  --gradient-yellow: linear-gradient(182deg, #fff622 -8.34%, #e07411 126.67%);

  /* text */

  /* ini untuk font-size:  */
  --xs: 0.75rem; /* 12px */
  --sm: 0.875rem; /* 14px */
  --base: 1rem; /* 16px */
  --lg: 1.125rem; /* 18px */
  --xl: 1.25rem; /* 20px */
  --2xl: 1.5rem; /* 24px */
  --3xl: 1.875rem; /* 30px */
  --4xl: 2.25rem; /* 36px */
  --5xl: 3rem; /* 48px */

  /* ini untuk font-weight:  */
  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;

  /* ini untuk background-image:  */
  --page: url("path/to/your/image.jpg");
  --card: url("path/to/your/image.jpg");
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
/* responsive */

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--blue);
  background-image: url(../assets/textura.svg);

  max-width: 1280px;
}
/* container */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* container */
/* navbar */
header {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}
.navbar {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  /* background-color: white; */
}
.navbar a {
  font-size: 24px;
  font-weight: var(--black);
  color: var(--white);
  text-decoration: none;
  -webkit-text-stroke: 1px var(--slate-900);
}
.navbar a span {
  font-size: var(--medium);
  font-weight: var(--black);
  color: var(--orange);
  text-decoration: none;
  -webkit-text-stroke: 1px var(--slate-900);
}

.navbar ul {
  border: 1px solid var(--slate-900);
  display: flex;
  list-style: none;
  align-items: center;
  justify-items: center;
  gap: 20px;
}
.navbar ul li a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--normal);
}
/* navbar */

.card {
  width: fit-content;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 4px 4px 28px 0px rgba(19, 25, 79, 0.25);
  padding: 10px;
}
.card-username {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-username img {
  position: absolute;
  width: 75px;
  height: 75px;
}
.input-username {
  margin-top: 50px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.input-username input {
  width: 100%;
  font-size: var(--xl);
  height: 50px;
  padding: 5px;
  outline: none;
  border-radius: 15px;
  border: 3px solid #bebebe;
  justify-content: center;
  background-color: #f2f1f1;
  color: var(--blue);
  font-weight: var(--bold);
  margin-right: 5px;
}
.input-username input:focus {
  background-color: white;
  border: 3px solid var(--blue);
  transition: all 0.2s;
}
#username {
  font-size: var(--xl);
  font-weight: var(--bold);
  text-align: center;
  color: var(--text);
  margin-bottom: 5px;
}
.input-username button {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: 3px solid #0f172a;
  font-size: var(--medium);
  cursor: pointer;
  font-weight: var(--bold);
  background-image: var(--gradient-yellow);
}
.question-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question-board {
  display: flex;
  width: fit-content;
  padding: 10px;
  background-color: var(--purple);
  background-image: url("/assets/puzzle.svg");
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 10px;
}
.question-total-soal {
  display: flex;
  width: 100px;
  padding: 5px;
  color: var(--blue);
  font-weight: var(--medium);
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
}
.question {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  min-width: 100px;
}
.question p {
  position: absolute;
  top: 5px;
  min-width: 400px;
  background-color: var(--blue-dark);
  color: var(--white);
  font-size: var(--md);
  font-weight: var(--medium);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.question-board-content {
  margin-top: 20px;
  width: 600px;
  height: 300px;
}
.question-board-content .guess {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}
.question-board-content .guess .word {
  border-bottom: 5px solid var(--text);
  width: 20px;
  border-radius: 10px;
}
.question-img {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px;
  justify-content: center;
}
.answer-title {
  background-color: var(--yellow);
  color: var(--white);
  font-size: var(--md);
  font-weight: var(--bold);
  width: fit-content;
  padding: 4px 4px;
  border-radius: 30px;
  border: 3px solid var(--text);
  display: flex;
  gap: 5px;
}
.answer-input {
  width: 610px;
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.answer-input input {
  width: 100%;
  font-size: var(--xl);
  height: 50px;
  padding: 10px;
  font-weight: var(--bold);
  border: 3px solid var(--text);
  border-radius: 10px;
}
.answer-input button {
  font-size: var(--xl);
  height: 50px;
  padding: 10px;
  background-image: var(--gradient-yellow);
  font-weight: var(--bold);
  border: 3px solid var(--text);
  border-radius: 10px;
}
.question-img img {
  width: 100%;
  object-fit: contain;
}
.popup-hidden {
  visibility: hidden;
  position: absolute;
}
.popup-swow {
  visibility: visible;
}
.popup-rules h2 {
  text-align: center;
  margin: 10px;
}

.popup-rules {
  font-size: var(--semibold);
  padding: 0 5px;
}
.card-rules {
  border: 3px solid #ececec;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
}
.card-rules p {
  font-size: var(--sm);
}

.round-image {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  border-radius: 50%;
}

.btn-start {
  display: block;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--base);
  font-weight: var(--bold);
  width: 300px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid var(--slate-900, #0f172a);
  background: var(--gradient-yellow);
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-start:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--white);
  text-align: center;
}

.dino {
  margin-top: -120px;
  margin-left: -100px;
}

.octopus {
  margin-left: 75%;
  margin-top: 0;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.footer p {
  color: var(--white);
  font-size: var(--xl);
  font-weight: var(--semibold);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
}

/* img-animal */
.img-animal {
  width: 100%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

/* end img-animal */
