@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,800;1,900&display=swap");
:root {
  /* color */
  --blue: #3b82f6;
  --blue-dark: #1d4ed8;
  --purple: #a855f7;
  --white: #ffffff;
  --text: #0f172a;
  --green: #22c55e;
  --red: #ef4444;
  --yellow: #facc15;
  --orange: #fb923c;
  --gradient-yellow: linear-gradient(182deg, #fff622 -8.34%, #e07411 126.67%);

  /* text */

  /* ini untuk font-size:  */
  --xs: 0.75rem; /* 12px */
  --sm: 0.875rem; /* 14px */
  --base: 1rem; /* 16px */
  --lg: 1.125rem; /* 18px */
  --xl: 1.25rem; /* 20px */
  --2xl: 1.5rem; /* 24px */
  --3xl: 1.875rem; /* 30px */
  --4xl: 2.25rem; /* 36px */
  --5xl: 3rem; /* 48px */

  /* ini untuk font-weight:  */
  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;

  /* ini untuk background-image:  */
  --page: url("path/to/your/image.jpg");
  --card: url("path/to/your/image.jpg");
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
/* responsive */
body,
html {
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--blue);
  background-image: url(../assets/textura.svg);
  max-width: 1280px;
}

/* navbar */
header {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}
.navbar {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  /* background-color: white; */
}
.navbar a {
  font-size: 24px;
  font-weight: var(--black);
  color: var(--white);
  text-decoration: none;
  -webkit-text-stroke: 1px var(--slate-900);
}
.navbar a span {
  font-size: var(--medium);
  font-weight: var(--black);
  color: var(--orange);
  text-decoration: none;
  -webkit-text-stroke: 1px var(--slate-900);
}

.navbar ul {
  border: 1px solid var(--slate-900);
  display: flex;
  list-style: none;
  align-items: center;
  justify-items: center;
  gap: 20px;
}
.navbar ul li a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--normal);
}
/* navbar */

.card {
  width: fit-content;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 4px 4px 28px 0px rgba(19, 25, 79, 0.25);
  padding: 10px;
}
.card-username {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-username img {
  position: absolute;
  width: 75px;
  height: 75px;
}
.input-username {
  margin-top: 50px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.input-username input {
  width: 100%;
  font-size: var(--xl);
  height: 50px;
  padding: 5px;
  outline: none;
  border-radius: 15px;
  border: 3px solid #bebebe;
  justify-content: center;
  background-color: #f2f1f1;
  color: var(--blue);
  font-weight: var(--bold);
  margin-right: 5px;
}
.input-username input:focus {
  background-color: white;
  border: 3px solid var(--blue);
  transition: all 0.2s;
}
#username {
  font-size: var(--xl);
  font-weight: var(--bold);
  text-align: center;
  color: var(--text);
  margin-bottom: 5px;
}
.input-username button {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: 3px solid #0f172a;
  font-size: var(--medium);
  cursor: pointer;
  font-weight: var(--bold);
  background-image: var(--gradient-yellow);
}
.question-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question-board {
  display: flex;
  width: fit-content;
  padding: 10px;
  background-color: var(--purple);
  background-image: url("/assets/puzzle.svg");
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 10px;
}
.result-board {
  display: flex;
  width: fit-content;
  height: auto;
  padding: 10px;
  background-color: var(--orange);
  background-image: url("/assets/puzzle-orange.svg");
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 10px;
}

.result-title {
  font-size: var(--xl);
  font-weight: var(--bold);
  background-color: var(--white);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  gap: 5px;
  text-transform: uppercase;
}
.result-title span {
  color: var(--blue);
}
.result-data {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.result-data:hover {
  background-color: #e1e1e1;
  border-radius: 7px;
  transition: all 0.5s;
}
.result-data p {
  font-size: var(--lg);
  font-weight: var(--semibold);
}
.question-total-soal {
  display: flex;
  width: 100px;
  padding: 5px;
  color: var(--blue);
  font-weight: var(--medium);
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
}
.question {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  min-width: 100px;
}
.question p {
  position: absolute;
  top: 5px;
  min-width: 400px;
  background-color: var(--blue-dark);
  color: var(--white);
  font-size: var(--md);
  font-weight: var(--medium);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.question-board-content {
  margin-top: 20px;
  width: 600px;
  height: 300px;
}
.question-board-content .guess {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}

.question-board-content .guess .word {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid var(--text);
  width: 20px;
  height: 40px;
}

.question-board-content .guess .word-fill {
  font-size: var(--3xl);
  font-weight: var(--bold);
}

.question-board-content .guess .word:not(:empty) {
  border-bottom: none;
}

.question-img {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px;
  justify-content: center;
}
.answer-title {
  background-color: var(--yellow);
  color: var(--white);
  font-size: var(--md);
  font-weight: var(--bold);
  width: fit-content;
  padding: 4px 4px;
  border-radius: 30px;
  border: 3px solid var(--text);
  display: flex;
  gap: 5px;
}
.answer-input {
  width: 610px;
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.answer-input input {
  width: 100%;
  font-size: var(--xl);
  height: 50px;
  padding: 10px;
  font-weight: var(--bold);
  border: 3px solid var(--text);
  border-radius: 10px;
}
.answer-input button {
  font-size: var(--xl);
  height: 50px;
  padding: 10px;
  background-image: var(--gradient-yellow);
  font-weight: var(--bold);
  border: 3px solid var(--text);
  border-radius: 10px;
}
.question-img img {
  width: 100%;
  object-fit: contain;
}
.popup-hidden {
  display: none;
  position: absolute;
}
.popup-swow {
  display: block;
}
.popup-rules h2 {
  text-align: center;
  margin: 10px;
}

.popup-rules {
  font-size: var(--semibold);
  padding: 0 5px;
}
.card-rules {
  border: 3px solid #ececec;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
}
.card-rules p {
  font-size: var(--sm);
}

.round-image {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  border-radius: 50%;
}

.btn-start {
  display: block;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--base);
  font-weight: var(--bold);
  width: 300px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid var(--slate-900, #0f172a);
  background: var(--gradient-yellow);
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-start:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.footer {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--white);
}

.dino {
  margin-top: -120px;
  margin-left: -100px;
}

.octopus {
  margin-left: 75%;
  margin-top: 0;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.footer p {
  font-size: var(--xl);
  font-weight: var(--bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* img-animal */
.img-animal {
  width: 100%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

/* end img-animal */

/* share */
.popup-share {
  background: var(--white);
  padding: 25px;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(1.3);
  opacity: 0;
  pointer-events: none;
}

.popup-share.show {
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup-share :is(header, .icons-share, .field-share) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-share header {
  padding: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f3fb;
}

header span {
  font-size: var(--2xl);
  font-weight: var(--bold);
}

header .close-share,
.icons-share a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

header .close-share {
  color: #878787;
  height: 35px;
  width: 35px;
  background: #f2f3fb;
  cursor: pointer;
}

header .close-share:hover {
  transform: scale(1.2);
}

.popup-share .content-share {
  margin: 20px 0;
}

.content-share p {
  font-size: var(--lg);
}

.content-share .icons-share {
  margin: 15px 0 20px 0;
}

.icons-share a {
  height: 60px;
  width: 60px;
  font-size: var(--2xl);
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.icons-share a:nth-child(1) {
  color: #1877f2;
  border-color: #b7d4fb;
}
.icons-share a:nth-child(1):hover {
  background: #1877f2;
}

.icons-share a:nth-child(2) {
  color: #46c1f6;
  border-color: #b6e7fc;
}
.icons-share a:nth-child(2):hover {
  background: #46c1f6;
}

.icons-share a:nth-child(3) {
  color: #e1306c;
  border-color: #f5bccf;
}
.icons-share a:nth-child(3):hover {
  background: #e1306c;
}

.icons-share a:nth-child(4) {
  color: #25d366;
  border-color: #bef4d2;
}
.icons-share a:nth-child(4):hover {
  background: #25d366;
}

.icons-share a:hover {
  color: var(--white);
  border-color: transparent;
}

.icons-share a i {
  transition: transform all 0.3s ease-in-out;
}

.icons-share a:hover i {
  transform: scale(1.2);
}

.content-share .field-share {
  margin: 12px 0 -5px 0;
  height: 50px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 0 5px;
}

.field-share.active {
  border-color: var(--blue-dark);
}

.field-share i {
  width: 50px;
  text-align: center;
  font-size: var(--2xl);
}

.field-share.active i {
  color: var(--blue-dark);
}

.field-share input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: var(--lg);
}

.field-share button {
  padding: 5px 20px;
  color: var(--white);
  background: var(--blue-dark);
  border-radius: 4px;
  font-weight: var(--medium);
  font-size: var(--lg);
  cursor: pointer;
  border: 2px solid transparent;
}

.blur {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

/* end share */

/* responsive */
/*... CSS Anda sebelumnya ...*/

/* Breakpoints */
/* Small (sm) */
@media (max-width: 640px) {
  .footer {
    padding: 10px 5px;
    text-align: center;
  }

  .card,
  .popup-share {
    width: 95%;
    margin: 15px auto;
    box-sizing: border-box;
  }

  .input-username,
  .answer-input {
    width: 100%;
  }

  .card-username img {
    width: 60px;
    height: 60px;
  }

  .input-username {
    margin-top: 40px;
  }
}

/* Medium (md) */
@media (max-width: 768px) {
  .footer {
    padding: 10px 10px;
  }

  .card,
  .popup-share {
    width: 90%;
  }
}

/* Large (lg) */
@media (max-width: 1024px) {
}

/* Extra Large (xl) */
@media (max-width: 1280px) {
}
.pop-blur {
  position: fixed; /* Atau absolute tergantung kebutuhan Anda */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f172a3b;
  backdrop-filter: blur(5px);
  z-index: 9998; /* Sehingga berada di bawah .container */
}

.containerpop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}

.salah {
  pointer-events: auto;
  z-index: 10000;
  padding: 10px 10px;
  border-radius: 20px;
  background: var(--white);
  text-align: center;
  max-height: 90vh;
  overflow-y: auto;
  height: fit-content;
}
.salah button {
  cursor: pointer;
}

.salah h1 {
  color: var(--yellow);
  font-size: var(--5xl);
  font-style: normal;
  font-weight: var(--black);
  line-height: normal;
}

.salah h1 span {
  color: var(--red);
  font-size: var(--5xl);
  font-style: normal;
  font-weight: var(--black);
  line-height: normal;
}

.salah h3 {
  color: var(--text);
  font-size: var(--base);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.salah h2 {
  color: var(--slate-400, #94a3b8);
  font-size: var(--base);
  font-style: normal;
  font-weight: var(--normal);
  line-height: normal;
}

.btn-next {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 488px;
  padding: 10px;
  font-weight: var(--bold);
  border-radius: 20px;
  border: 1px solid #000;
  background: var(
    --Btn-Gradient,
    linear-gradient(182deg, #fff622 -8.34%, #e07411 126.67%)
  );
}

/* game complete */
.complete {
  pointer-events: auto;
  z-index: 10000;
  padding: 10px 10px;
  border-radius: 20px;
  background: var(--white);
  text-align: center;
  max-height: 90vh;
  overflow-y: auto;
  height: fit-content;
}

.complete h1 {
  color: var(--yellow);
  font-size: var(--5xl);
  font-style: normal;
  font-weight: var(--black);
  line-height: normal;
}

.complete h1 span {
  color: var(--green);
  font-size: var(--5xl);
  font-style: normal;
  font-weight: var(--black);
  line-height: normal;
}

.btn-result {
  display: block;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: var(--bold);
  width: 488px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #000;
  background: var(
    --Btn-Gradient,
    linear-gradient(182deg, #fff622 -8.34%, #e07411 126.67%)
  );
}
.player-name {
  font-size: var(--xl);
  font-weight: var(--bold);
  text-align: center;
  color: var(--text);
  margin-bottom: 5px;
  background-color: var(--text);
  width: 100%;
  color: var(--white);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
.result-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin: 10px 0;
  gap: 5px;
}

.btn-ulang {
  width: 100%;
  color: var(--text);
  font-size: var(--lg);
  font-weight: var(--bold);
  text-transform: uppercase;
  background-color: var(--yellow);
  border: none;
  padding: 5px;
  border-radius: 7px;
}
.btn-ulang:hover {
  background-color: rgb(255, 170, 0);
  transition: all 0.5s;
}
.btn-kembali {
  width: 100%;
  color: var(--text);
  font-size: var(--lg);
  font-weight: var(--bold);
  text-transform: uppercase;
  background-color: var(--green);
  border: none;
  padding: 5px;
  border-radius: 7px;
}
.btn-kembali:hover {
  background-color: rgb(15, 169, 33);
  transition: all 0.5s;
}

.popup-inspect {
  width: 300px;

  position: absolute;
  background-color: var(--white);
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 4px 4px 28px 0px rgba(19, 25, 79, 0.25);
  margin: 0 auto;
}
.popup-inspect img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.popup-inspect p {
  font-size: var(--xl);
  text-transform: capitalize;
  font-weight: var(--bold);
  text-align: center;
}
#context-menu {
  position: fixed;
  z-index: 1000000;
  background: #fff;
  border-radius: 7px;
  transform: scale(0);
  transform-origin: top left;
}
#context-menu.active {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}
